<%- include("partials/header.ejs") %>
<section id="AboutMe">
    <div class="container my-5">
      <div class="py-5 px-5 text-center bg-body-tertiary rounded-3 box">
        <h2 class="display-5 fw-bold lh-1">About Me</h2>
        <p class="bold-paragraph">My top 4 interests regarding Computer Systems Engineering</p>
        <ol class="list-group list-group-numbered">
          <li class="list-group-item">Web Development.</li>
          <li class="list-group-item">Mobile Application Development</li>
          <li class="list-group-item">AI</li>
          <li class="list-group-item">Videogame Development</li>
        </ol>
        <p class="bold-paragraph">Get to know me through my hobbies</p>
        <p class="description">Outside of my proffesional life, I dedicate time to different hobbies that enrich my personal life. Sharing quality moments with my girlfriend is a priority. Alongside i like to play videogames which help me to relax and escape from the daily routine, at the same time i love to spend time with my group of friends, just having a good time exchanging life situations. Embracing an active lifestyle, I find joy in city cycling excursions in the city helping me to stay healthy and centered. These diverse interests underscore my commitment to a well-rounded and fulfilling life.</p>
      </div>
    </div>
  </section>
<%- include("partials/footer.ejs") %>